<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布问题 - MUSE Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/community.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
<!-- 导航栏 -->
<div th:replace="navigation :: nav"></div>

<!-- 问题发布 -->
<div class="container-fluid main">
    <div class="row">
        <!--左边栏-->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起
            </h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}"> <!-- hidden表单再次提交时把value属性传递过来但不在页面展示-->
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题..." autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="description">问题补充：</label>
                    <textarea name="description" class="form-control" th:text="${description}" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">允许：jpg,jpeg,png</p>
                </div>
                <div class="form-group">
                    <label for="title">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以逗号分隔" autocomplete="off" onclick="showSelectTag()">
                    <!--标签弹框-->
                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat:${tags}" th:class="${selectCategoryStat.first?'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${selectCategory.categoryName}" th:each="selectCategory:${tags}"  th:class="${selectCategoryStat.first?'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info question-tag" th:each="selectTag:${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${selectTag}" th:text="${'  '+selectTag}"></span>
<!--                                         <span class="glyphicon glyphicon-tags" th:onclick="selectTag([[${selectTag}]])" th:text="${selectTag}"></span>-->
                                 </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-9 col-sm-12 col-xs-12" th:text="${error}" th:if="${error!=null}"></div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">确认发布</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!--右边栏-->
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <ul>
                <li>问题标题：不超过25个字</li>
                <li>问题补充：可提供相关资料</li>
                <li>选择标签：一个或多个，用逗号分隔，每个不超过10个字</li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>